/***************************
 * Colors
 **************************/

$grey: #999;
$darkgrey: #252525;
$black: #121212;
$yellow: #FFBF00;

/***************************
 * Font
 **************************/

$font-custom: 'Rokkitt', serif;