@import "reset";
@import "theme_variables";

/***************************
 * Global
 **************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $darkgrey;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.ft_special {
  font-family: $font-custom;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.center {
  text-align: center;
}

.fl-right {
  float: right;
}

a {
  text-decoration: none;
}

b {
  font-weight: 700;
  color: #e74c3c;
}

/***************************
 * Map
 **************************/
#map {
  position: fixed !important;
  z-index: 1;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

.infowindow {
  h1 {
    color: $yellow;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  p {
    margin: 10px 0;
    color: $darkgrey;
  }
  * {
    max-width: 100% !important;
  }
  a {
    color: $yellow;
    display: block;
    margin: 10px 0;
    line-height: 1.2;
    font-family: 'Rokkitt';
    text-transform: uppercase;
  }
}

#reset-marker {
  position: absolute;
  z-index: 3;
  bottom: 60px;
  left: 30px;
  border-radius: 50%;
  padding: 14px;
  font-size: 20px;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  -ms-transform: translate3d(-100px, 0, 0);
  -o-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}

/***************************
 * Buttons
 **************************/
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $yellow;
  border-radius: 3px;
  color: $yellow;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  -webkit-transition: .2s color ease-out, .2s background-color ease-out;
  -moz-transition: .2s color ease-out, .2s background-color ease-out;
  -ms-transition: .2s color ease-out, .2s background-color ease-out;
  -o-transition: .2s color ease-out, .2s background-color ease-out;
  transition: .2s color ease-out, .2s background-color ease-out;
  &:hover {
    color: $darkgrey;
    background-color: $yellow;
  }
}

.btn-full {
  background-color: $yellow;
  color: #fff;
  &:hover {
    background-color: transparent;
    color: $yellow;
  }
}

/***************************
 * Header
 **************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
  background-color: $darkgrey;
  border-bottom: 1px solid $yellow;
}

#menu {
  height: 50px;
  padding: 0 20px;
  z-index: 50;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
  }
  #hamburger {
    span {
      display: block;
      height: 2px;
      width: 20px;
      border-radius: 10px;
      background-color: $yellow;
      margin: 4px 0;
    }
  }
  #user {
    color: $yellow;
  }
}

/***************************
 * User/menu page
 **************************/
#user-page, #menu-page {
  display: none;
  position: fixed;
  bottom: calc(100vh - 50px);
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  padding-top: 50px;
  background-color: $darkgrey;
  border-bottom: 1px solid $yellow;
  overflow: auto;
  h2 {
    margin: 30px 0;
    color: $yellow;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  .block-part {
    opacity: 0;
  }
}

#user-page {
  #user-form {
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 30px;
  }
  label {
    display: block;
    font-family: 'Rokkitt';
    color: $yellow;
    font-size: 18px;
    margin-bottom: 10px;
  }
  input {
    display: block;
    border: 1px solid $grey;
    background-color: $black;
    width: 100%;
    color: $yellow;
    padding-left: 20px;
    text-transform: uppercase;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 30px;
  }
  .checkbox-groups {
    display: flex;
    flex-wrap: wrap;
    .block-semi {
      display: flex;
      width: 50%;
      align-items: center;
      margin-bottom: 10px;
    }
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: 1px solid $grey;
      height: 30px;
      width: 30px;
      border-radius: 3px;
      padding: 0;
      margin-bottom: 0;
      margin-right: 10px;
      position: relative;
      &:checked:after {
        content: '';
        position: absolute;
        background-color: $yellow;
        width: 15px;
        height: 15px;
        top: 6px;
        left: 6px;
        border-radius: 3px;
      }
    }
    label {
      margin: 0;
      text-transform: uppercase;
    }
  }
}

#menu-page {
  height: 51px;
  padding-top: 0;
  overflow: auto;
  ul {
    display: flex;
    li {
      text-transform: uppercase;
      font-family: $font-custom;
      line-height: 50px;
      font-size: 18px;
      text-align: center;
      flex-grow: 1;
      a {
        color: #fff;
      }
    }
  }
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  z-index: 1000;
  background-color: red;
  display: none;
}

/***************************
 * HomePage
 **************************/

#home {
  .logo {
    font-size: 24px;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    span {
      display: inline-block;
      opacity: 0;
      -webkit-transform: translate3d(0, -30px, 0);
      -moz-transform: translate3d(0, -30px, 0);
      -ms-transform: translate3d(0, -30px, 0);
      -o-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  }
  .slogan {
    color: $yellow;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 50px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  .tutorial {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 50px;
    p {
      margin-bottom: 10px;
      color: rgba(255, 255, 255, .8);
      opacity: 0;
      -webkit-transform: translate3d(0, 30px, 0);
      -moz-transform: translate3d(0, 30px, 0);
      -ms-transform: translate3d(0, 30px, 0);
      -o-transform: translate3d(0, 30px, 0);
      transform: translate3d(0, 30px, 0);
    }
  }
  .btn {
    margin: 0 auto;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  .btn_white {
    color: #fff;
    border-color: #fff;
    margin-bottom: 20px !important;
  }
}

/***************************
 * Help page
 **************************/

#help {
  #tutorial {
    padding-top: 50px;
  }
  .subheading {
    margin-bottom: 30px;
  }
  h2 {
    margin: 30px 0;
    color: $yellow;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  ul li {
    margin-bottom: 30px;
    font-family: $font-custom;
    h3 {
      color: $yellow;
      margin-bottom: 16px;
      font-size: 24px;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, .8);
    font-family: 'Open Sans', sans-serif;
  }
  .btn {
    float: right;
    margin-bottom: 30px;
  }
}